# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [23]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp
from scipy.stats import sem
from scipy.stats import t

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
empleados = pd.read_csv(r"C:\Users\hp\Documents\M2\lab_hypothesis_testing-main\lab_hypothesis_testing-main\data\Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
empleados.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
missing_data = empleados.isnull().sum()


print(missing_data)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

empleados_tipo_pago = empleados['Salary or Hourly'].value_counts()

empleados_tipo_pago

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:

empleados_por_departamento = empleados['Department'].value_counts()

print(empleados_por_departamento)

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
#Filtrar los Empleados por Hora:
empleados_por_hora = empleados[empleados['Salary or Hourly'] == 'Hourly']

#Obtener las Tarifas por Hora:
tarifas_por_hora = empleados_por_hora['Hourly Rate'].dropna().astype(float)

t_stat, p_value = ttest_1samp(tarifas_por_hora, 30)

print(f"Estadístico t: {t_stat}")
print(f"Valor p: {p_value}")


alpha = 0.05
if p_value < alpha:
    print("Rechazamos la hipótesis nula: el salario por hora es significativamente diferente de $30/hora")
else:
    print("No podemos rechazar la hipótesis nula: el salario por hora no es significativamente diferente de $30/hora")

Estadístico t: 20.6198057854942
Valor p: 4.3230240486229894e-92
Rechazamos la hipótesis nula: el salario por hora es significativamente diferente de $30/hora

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
# Filtrar los empleados asalariados del departamento de policía
policia_asalariados = empleados[(empleados['Department'] == 'POLICÍA') & (empleados['Salary or Hourly'] == 'Salary')]

# Obtener los salarios anuales y convertirlos a float
salarios_anuales = policia_asalariados['Annual Salary'].dropna().astype(float)

# Realizar la prueba t de una muestra
media_anterior = 86000
t_stat, p_value = ttest_1samp(salarios_anuales, media_anterior)

# Ajustar el valor p para la prueba unilateral
p_value_unilateral = p_value / 2

# Mostrar los resultados
print(f"Estadístico t: {t_stat}")
print(f"Valor p (unilateral): {p_value_unilateral}")

# Interpretación del resultado
alpha = 0.05
if p_value_unilateral < alpha and t_stat > 0:
    print("Rechazamos la hipótesis nula: los salarios de la policía de este año son significativamente más altos que $86,000")
else:
    print("No podemos rechazar la hipótesis nula: los salarios de la policía de este año no son significativamente más altos que $86,000")

Estadístico t: nan
Valor p (unilateral): nan
No podemos rechazar la hipótesis nula: los salarios de la policía de este año no son significativamente más altos que $86,000

C:\Users\hp\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\hp\anaconda3\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

Using the `crosstab` function, find the department that has the most hourly workers.

In [16]:
# Crear una tabla cruzada para contar el número de trabajadores por horas en cada departamento
crosstab_departamentos = pd.crosstab(empleados['Department'], empleados['Salary or Hourly'])

# Filtrar solo los trabajadores por horas
trabajadores_por_horas = crosstab_departamentos['Hourly']

# Identificar el departamento con más trabajadores por horas
departamento_mas_trabajadores_por_horas = trabajadores_por_horas.idxmax()
max_trabajadores_por_horas = trabajadores_por_horas.max()

# Mostrar los resultados
print(f"Departamento con más trabajadores por horas: {departamento_mas_trabajadores_por_horas}")
print(f"Número de trabajadores por horas en ese departamento: {max_trabajadores_por_horas}")

Departamento con más trabajadores por horas: STREETS & SAN
Número de trabajadores por horas en ese departamento: 1862

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [18]:
# Filtrar los empleados por horas del departamento identificado
empleados_por_hora_depto = empleados[(empleados['Department'] == departamento_mas_trabajadores_por_horas) & (empleados['Salary or Hourly'] == 'Hourly')]

# Obtener las tarifas por hora y convertirlas a float
tarifas_por_hora_depto = empleados_por_hora_depto['Hourly Rate'].dropna().astype(float)

# Realizar la prueba t de una muestra
media_hipotetica = 35
t_stat, p_value = ttest_1samp(tarifas_por_hora_depto, media_hipotetica)

# Ajustar el valor p para la prueba unilateral
p_value_unilateral = p_value / 2

# Mostrar los resultados
print(f"Estadístico t: {t_stat}")
print(f"Valor p (unilateral): {p_value_unilateral}")

# Interpretación del resultado
alpha = 0.05
if p_value_unilateral < alpha and t_stat < 0:
    print("Rechazamos la hipótesis nula: el salario por hora es significativamente menor que $35/hora")
else:
    print("No podemos rechazar la hipótesis nula: el salario por hora no es significativamente menor que $35/hora")

Estadístico t: -9.567447887848152
Valor p (unilateral): 1.6689265282353859e-21
Rechazamos la hipótesis nula: el salario por hora es significativamente menor que $35/hora

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [24]:


# Filtrar los empleados por horas
empleados_por_hora = empleados[empleados['Salary or Hourly'] == 'Hourly']

# Obtener las tarifas por hora y convertirlas a float
tarifas_por_hora = empleados_por_hora['Hourly Rate'].dropna().astype(float)

# Calcular la media y el error estándar de la media
mean_hourly_wage = tarifas_por_hora.mean()
std_error = sem(tarifas_por_hora)

# Calcular el intervalo de confianza del 95%
confidence_interval = t.interval(0.95, len(tarifas_por_hora)-1, loc=mean_hourly_wage, scale=std_error)

# Mostrar los resultados
print(f"Media del salario por hora: {mean_hourly_wage}")
print(f"Error estándar: {std_error}")
print(f"Intervalo de confianza del 95%: {confidence_interval}")

Media del salario por hora: 32.78855771628024
Error estándar: 0.1352368565101596
Intervalo de confianza del 95%: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [29]:
# Verificar los nombres de las columnas
print(empleados.columns)

# Filtrar los empleados asalariados del departamento de policía
policia_asalariados = empleados[(empleados['Department'] == 'POLICE') & (empleados['Salary or Hourly'] == 'Salary')]

# Verificar los datos filtrados
print(policia_asalariados.head())

# Obtener los salarios anuales y convertirlos a float
salarios_anuales = policia_asalariados['Annual Salary'].dropna().astype(float)

# Verificar los salarios anuales
print(salarios_anuales.head())

# Calcular la media y el error estándar de la media
mean_annual_salary = salarios_anuales.mean()
std_error = sem(salarios_anuales)

# Calcular el intervalo de confianza del 95%
confidence_interval = t.interval(0.95, len(salarios_anuales)-1, loc=mean_annual_salary, scale=std_error)

# Mostrar los resultados
print(f"Media del salario anual: {mean_annual_salary}")
print(f"Error estándar: {std_error}")
print(f"Intervalo de confianza del 95%: {confidence_interval}")

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')
                      Name                              Job Titles Department  \
0        AARON,  JEFFERY M                                SERGEANT     POLICE
1          AARON,  KARINA   POLICE OFFICER (ASSIGNED AS DETECTIVE)     POLICE
9         ABBATE,  TERRY M                          POLICE OFFICER     POLICE
11        ABDALLAH,  ZAID                           POLICE OFFICER     POLICE
12  ABDELHADI,  ABDALMAHD                           POLICE OFFICER     POLICE

   Full or Part-Time Salary or Hourly  Typical Hours  Annual Salary  \
0                  F           Salary            NaN       101442.0
1                  F           Salary            NaN        94122.0
9                  F           Salary            NaN        93354.0
11                 F           Salary            NaN        84054.0
12                 F           Salary            NaN        87006.0

    Hourly Rate
0           NaN
1           NaN
9           NaN
11          NaN
12          NaN
0     101442.0
1      94122.0
9      93354.0
11     84054.0
12     87006.0
Name: Annual Salary, dtype: float64
Media del salario anual: 86486.41450313339
Error estándar: 157.82445675052244
Intervalo de confianza del 95%: (86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: