# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [20]:
# import numpy and pandas
import pandas as pd 
import numpy as np
from scipy.stats import ttest_1samp
from scipy.stats import t, sem
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [5]:
# Your code here:
employees = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

Examine the `salaries` dataset using the `head` function below.

In [6]:
# Your code here:
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:
employees.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
# Your code here:
employees['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# Your code here:
employees['Department'].value_counts()

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [12]:
# Your code here:
hourly_employees = employees[employees['Salary or Hourly'] == 'Hourly']

# Extraer las tasas por hora
hourly_rates = hourly_employees['Hourly Rate'].dropna()

# Realizar la prueba t para una muestra
t_stat, p_value = ttest_1samp(hourly_rates, 30)

# Resultados
print("T-statistic:", t_stat)
print("P-value:", p_value)

# Interpretación de los resultados
alpha = 0.05
if p_value < alpha:
    print("Rechazamos la hipótesis nula: el salario por hora es significativamente diferente de $30/hora")
else:
    print("No podemos rechazar la hipótesis nula: no hay suficiente evidencia para decir que el salario por hora es significativamente diferente de $30/hora")

T-statistic: 20.6198057854942
P-value: 4.3230240486229894e-92
Rechazamos la hipótesis nula: el salario por hora es significativamente diferente de $30/hora

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
# Your code here:
# Filtrar a los empleados del departamento de policía que tienen salario anual
police_salaries = employees[(employees['Department'] == 'POLICE') & 
                               (employees['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()

# Realizar la prueba t para una muestra
t_stat, p_value_two_tailed = ttest_1samp(police_salaries, 86000)

# Para una prueba de una cola, dividimos el p-valor por 2
p_value_one_tailed = p_value_two_tailed / 2

# Resultados
print("T-statistic:", t_stat)
print("Two-tailed P-value:", p_value_two_tailed)
print("One-tailed P-value:", p_value_one_tailed)

# Interpretación de los resultados para una prueba de una cola
alpha = 0.05
if t_stat > 0 and p_value_one_tailed < alpha:
    print("Rechazamos la hipótesis nula: los salarios este año son significativamente mayores que $86,000/año")
else:
    print("No podemos rechazar la hipótesis nula: no hay suficiente evidencia para decir que los salarios este año son significativamente mayores que $86,000/año")

T-statistic: 3.081997005712994
Two-tailed P-value: 0.0020603403550965137
One-tailed P-value: 0.0010301701775482569
Rechazamos la hipótesis nula: los salarios este año son significativamente mayores que $86,000/año

Using the `crosstab` function, find the department that has the most hourly workers.

In [14]:
# Your code here:
# Crear una tabla cruzada para contar la cantidad de trabajadores por departamento y tipo de pago
crosstab = pd.crosstab(employees['Department'], employees['Salary or Hourly'])

# Mostrar la tabla cruzada
print("Tabla cruzada de trabajadores por departamento y tipo de pago:")
print(crosstab)

# Encontrar el departamento con más trabajadores por hora
most_hourly_workers_department = crosstab['Hourly'].idxmax()
most_hourly_workers_count = crosstab['Hourly'].max()

print(f"\nEl departamento con más trabajadores por hora es: {most_hourly_workers_department}")
print(f"Cantidad de trabajadores por hora en ese departamento: {most_hourly_workers_count}")

Tabla cruzada de trabajadores por departamento y tipo de pago:
Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

El departamento con más trabajadores por hora es: STREETS & SAN
Cantidad de trabajadores por hora en ese departamento: 1862

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [15]:
# Your code here:
# Crear una tabla cruzada para contar la cantidad de trabajadores por departamento y tipo de pago
crosstab = pd.crosstab(employees['Department'], employees['Salary or Hourly'])

# Encontrar el departamento con más trabajadores por hora
most_hourly_workers_department = crosstab['Hourly'].idxmax()

# Filtrar los datos para obtener los salarios por hora de ese departamento
hourly_wages_department = employees[(employees['Department'] == most_hourly_workers_department) & 
                                       (employees['Salary or Hourly'] == 'Hourly')]['Hourly Rate'].dropna()

# Realizar la prueba t para una muestra con una cola (prueba de una cola)
t_stat, p_value_two_tailed = ttest_1samp(hourly_wages_department, 35)

# Para una prueba de una cola, dividimos el p-valor por 2
p_value_one_tailed = p_value_two_tailed / 2

# Resultados
print("T-statistic:", t_stat)
print("Two-tailed P-value:", p_value_two_tailed)
print("One-tailed P-value:", p_value_one_tailed)

# Interpretación de los resultados para una prueba de una cola
alpha = 0.05
if t_stat < 0 and p_value_one_tailed < alpha:
    print(f"Rechazamos la hipótesis nula: el salario por hora en el departamento de {most_hourly_workers_department} es significativamente menor que $35/hora")
else:
    print(f"No podemos rechazar la hipótesis nula: no hay suficiente evidencia para decir que el salario por hora en el departamento de {most_hourly_workers_department} es significativamente menor que $35/hora")

T-statistic: -9.567447887848152
Two-tailed P-value: 3.3378530564707717e-21
One-tailed P-value: 1.6689265282353859e-21
Rechazamos la hipótesis nula: el salario por hora en el departamento de STREETS & SAN es significativamente menor que $35/hora

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [18]:
# Your code here:
# Filtrar a los empleados que son pagados por hora
hourly_employees = employees[employees['Salary or Hourly'] == 'Hourly']

# Extraer las tasas por hora
hourly_rates = hourly_employees['Hourly Rate'].dropna()

# Calcular la media de los salarios por hora
mean_hourly_rate = hourly_rates.mean()

# Calcular el error estándar de los salarios por hora
std_error = sem(hourly_rates)

# Calcular el intervalo de confianza del 95%
confidence_level = 0.95
degrees_of_freedom = len(hourly_rates) - 1
confidence_interval = t.interval(confidence_level, degrees_of_freedom, loc=mean_hourly_rate, scale=std_error)

print(f"Intervalo de confianza del 95% para el salario por hora: {confidence_interval}")

Intervalo de confianza del 95% para el salario por hora: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [19]:
# Your code here:
# Filtrar a los empleados asalariados del departamento de policía
salaried_police_employees = employees[(employees['Department'] == 'POLICE') & 
                                         (employees['Salary or Hourly'] == 'Salary')]

# Extraer los salarios anuales
annual_salaries = salaried_police_employees['Annual Salary'].dropna()

# Calcular la media de los salarios anuales
mean_annual_salary = annual_salaries.mean()

# Calcular el error estándar de los salarios anuales
std_error = sem(annual_salaries)

# Calcular el intervalo de confianza del 95%
confidence_level = 0.95
degrees_of_freedom = len(annual_salaries) - 1
confidence_interval = t.interval(confidence_level, degrees_of_freedom, loc=mean_annual_salary, scale=std_error)

print(f"Intervalo de confianza del 95% para el salario anual de empleados asalariados en el departamento de policía: {confidence_interval}")

Intervalo de confianza del 95% para el salario anual de empleados asalariados en el departamento de policía: (86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [22]:
# Your code here:
# Contar el número de trabajadores por hora
hourly_workers_count = employees[employees['Salary or Hourly'] == 'Hourly'].shape[0]

# Contar el número total de trabajadores
total_workers_count = employees.shape[0]

# Calcular la proporción de trabajadores por hora
proportion_hourly_workers = hourly_workers_count / total_workers_count

# Definir la proporción esperada (25%)
expected_proportion = 0.25

# Realizar la prueba de proporciones z-test
count = hourly_workers_count
nobs = total_workers_count
stat, p_value = proportions_ztest(count, nobs, value=expected_proportion)

# Resultados
print(f"Proporción de trabajadores por hora: {proportion_hourly_workers:.4f}")
print(f"Estadístico z: {stat:.4f}")
print(f"P-valor: {p_value:.4f}")

# Interpretación de los resultados
alpha = 0.05
if p_value < alpha:
    print("Rechazamos la hipótesis nula: la proporción de trabajadores por hora es significativamente diferente de 25%")
else:
    print("No podemos rechazar la hipótesis nula: no hay suficiente evidencia para decir que la proporción de trabajadores por hora es significativamente diferente de 25%")

Proporción de trabajadores por hora: 0.2418
Estadístico z: -3.5100
P-valor: 0.0004
Rechazamos la hipótesis nula: la proporción de trabajadores por hora es significativamente diferente de 25%